.navbar {
  background-color: #e3f2fd;
  padding-left: 50px;
  font-weight: 600;
  font-size: larger;
}

.alert {
  font-weight: 600;
}

.alert:first-child {
  font-weight: 800;
  font-size: 30px;
}

